**Cedric Spratley_hw1_programming_python_basics_DSC 500 Machine Learning**

In [ ]:
#import libraries
import pandas as pd
import matplotlib.pyplot as plt

**TODO - Add new column called "Occupation". The list of Occupations should correspond to an Engineer, Artist, Musician, and Politician**

In [ ]:
#Populating data to create a dictionary structure
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Age':[24, 30, 22, 35],
        'City':['New York', 'Los Angeles', 'Chicago', 'Washingtion D.C.'],
        'Occupation': ['Engineer','Artist', 'Musician','Politician']}

In [ ]:
#Save the data into a dataframe
df = pd.DataFrame(data)
print("df is a pandas dataframe:\n", df)

In [ ]:
#Basic pandas operations, Print first 5 rows
print("\n dataframe Head:\n", df.head())

In [ ]:
#Basic pandas operations, Print df information
print("n\ dataframe Info;\n", df.info())

In [ ]:
#Print only the age column
print("\nSelecting 'Age' column:\n", df['Age'])

**TODO - Print the occupation column**

In [ ]:
#Print only the occupation column
print ("\nSelecting 'Occupation' column:\n", df['Occupation'])

In [ ]:
#Filtering rows
filtered_df = df[df['Age'] > 25]
print ("\nRows where Age > 25:\n", filtered_df)

**TODO - Get the name and occupation of the second person in the list, and print**

In [ ]:
#Print name and occupation and drop passed columns and indexed rows
print (df.drop(columns=['Age', 'City'], index=[0,2,3]))

In [ ]:
#Load dataset
dataset = "web_traffic.tsv"
traffic_df = pd.read_csv(dataset, delimiter="\t", header = None)

In [ ]:
#Print first few rows
print("The first 5 rows in the dataset:\n", traffic_df.head())

In [ ]:
#Display column names
print("Before cleaning up the column names:", traffic_df.columns)

In [ ]:
#Strip any leading/trailing whitespace from column names
traffic_df.columns = traffic_df.columns.astype(str).str.strip()

#Rename column names
traffic_df.columns = ['Index', 'Value']

#Print the new column names
print("After cleaning up the column names:", traffic_df.columns)

In [ ]:
#Clean the dataset, remove NaN
traffic_df['Value'] = traffic_df['Value'].fillna(traffic_df['Value'].mean())

print("\nDataFrame after replacing NaN values:\n", traffic_df.head())

In [ ]:
#Display how many rows and columns are in the dataset
traffic_df.shape

**TODO - Print the num_rows and num_columns, clearly indicate each one**

In [ ]:
#Save the number of rows and columns
num_rows, num_columns = traffic_df.shape

#Print the value for num_rows and num_columns
print("Number of rows:", num_rows)
print("Number of columns:", num_columns)

In [ ]:
#Rename the columns
traffic_df.columns = ['Index', 'Value']

#Plot Dataset
plt.figure(figsize=(8,5))
plt.plot(traffic_df['Index'], traffic_df['Value'], marker='o', linestyle='-', color='b', label='Value')
plt.xlabel('Index')
plt.ylabel('Value')
plt.title('Web Traffic Over Time')
plt.grid(True)
plt.legend()
plt.show()